---
# Default values for iac.
# This is a YAML-formatted file.
env: iac
namespace: wow-iac

ac_data_init:
  pvc:
    pvc_name: pvc-iac-wow-client-data
  image:
    repository: landry41/ac-wotlk-client-data # ou mariadb si tu utilises cela
    tag: "1.0.0"
    pullPolicy: IfNotPresent
  replicaCount: 1
  persistence:
    enabled: true
    storageClass: wow-client-storage-iac
    size: 10Gi


ac_db_import:
  name: ac-db-import
  image:
    repository: landry41/ac-wotlk-db-import # ou mariadb si tu utilises cela
    tag: "1.0.0"
    pullPolicy: IfNotPresent


worldserver:
  image: "landry41/ac-wotlk-worldserver:1.0.0"
  replicaCount: 1
  pvc:
    pvc_name: "pvc-iac-wow-client-data"
  server_env:
    realmlist: 2
  resources:
    requests:
      memory: "512M"       # Le conteneur demande au moins 1 Go de RAM
      cpu: "500m"         # Le conteneur demande 0.5 vCPU (un demi processeur)
    limits:
      memory: "2Gi"       # Le conteneur ne pourra pas utiliser plus de 2 Go de RAM
      cpu: "1"            # Le conteneur ne pourra pas utiliser plus de 1 vCPU (un processeur complet)
  service:
    worldserver:
      port: 8085
      targetPort: 8085
      nodePort: 32300
    soap:
      port: 7878
      targetPort: 7878
      nodePort: 32301


db:
  host: "ac-db-service.wow-mutu.svc.cluster.local"
  port: "3306"
  user: "root"
  password: "password"
  auth_schema: "acore_auth"
  world_schema: "acore_world_iac"
  characters_schema: "acore_characters_iac"

cms:
  image: "landry41/wow-registration:v1.0.1"
  replicaCount: 1
  soap:
    host: "ac-worldserver"
    port: 7878
  realmlist: "wow.linuxtime.fr"
  realmname: "wow-iac"
  baseurl: "https://wow.linuxtime.fr"
  page_title: "WoW Registration IAC"
  resources:
    requests:
      memory: "256M"       # Le conteneur demande au moins 1 Go de RAM
      cpu: "100m"         # Le conteneur demande 0.5 vCPU (un demi processeur)
    limits:
      memory: "512M"       # Le conteneur ne pourra pas utiliser plus de 2 Go de RAM
      cpu: "500m"
  service:
    port: 80
    targetPort: 80
    nodePort: 32303